.meeting-room {
  width: 1050px;
  height: 720px;
  margin: 20px auto;
  .meeting-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;        
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 500px;
    .meeting-stream {
      margin: 10px;
    }
  }

  .title {
    height: 50px;
    font-size: 2rem;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
    .btn-light {
      background-color: transparent;
      border-color: transparent;
    }
  }

}
